.darkTheme{
    background-color: #191919;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cromaContainer{
    width: 90vw;
    margin: auto;
}